{% from "macros/fields.html" import render_text_field, render_select_field, render_selectpicker_field, render_clear_text_field %}

<div class="modal-header">
    <h5 class="modal-title" id="itemLabel">{{ _("Edit document") }}</h5>
</div>
<form role="form" method="post" action="{{ url_for('document.edit', id=id) }}" enctype="multipart/form-data">
    {{ csrf_input }}
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col">
                {{ render_clear_text_field(form.name) }}
            </div>
            <div class="col">
                {{ render_clear_text_field(form.filename) }}
            </div>
        </div>    
    </div>
    <div class="modal-footer">
        <div pos="start">
            <button type="button" data-id="{{ id }}" class="btn btn-danger text-left document_delete_button">{{ _("Delete") }}</button>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
            <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
        </div>
    </div>
</form>