{% extends "base.html" %}

{% block content %}
<div class="row row-cols-1">
    <div>
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="flex-grow"> {{ _("Users") }} </div>
                    <div class="btn-list">
                        <!-- no button -->
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped m-0 table-sm align-middle">
                        <thead>
                            <th>{{ _("E-Mail") }}</th>
                            <th>{{ _("Admin") }}</th>
                            <th>{{ _("Active") }}</th>
                            <th>{{ _("Language") }}</th>
                            <th>{{ _("Delete") }}</th>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{user.email}}</td>
                                <td data-id="{{ user.id }}" class="change_admin">{% if user.is_admin %}<i class="fa-solid fa-check fs-4 text-success clickable"></i>{%else%}<i class="fa-solid fa-x fs-4 text-danger clickable"></i>{% endif %}</td>
                                <td data-id="{{ user.id }}" class="change_active">{% if user.is_active %}<i class="fa-solid fa-check fs-4 text-success clickable"></i>{%else%}<i class="fa-solid fa-x fs-4 text-danger clickable"></i>{% endif %}</td>
                                <td>{{ user.lang }}</td>
                                <td data-id="{{ user.id }}" class="change_delete"><i class="fa-solid fa-trash-can fs-5 text-danger clickable"></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on("click",".change_admin",function(){
        var user_id = $(this).data('id');
        $.ajax({
            url: '/account/change/admin/'+user_id,
            type: 'get',
            success: function(data) {
                location.reload(true); 
            }
        });
    });

    $(document).on("click",".change_active",function(){
        var user_id = $(this).data('id');
        $.ajax({
            url: '/account/change/active/'+user_id,
            type: 'get',
            success: function(data) {
                location.reload(true); 
            }
        });
    });

    $(document).on("click",".change_delete",function(){
        var user_id = $(this).data('id');
        if (confirm("Are You Sure ?")) {
            $.ajax({
                url: '/account/change/delete/'+user_id,
                type: 'get',
                success: function(data) {
                    location.reload(true); 
                }
            });
        };
    });
</script>

{% endblock %}