{% extends "base.html" %}

{% block content %}
<div class="row row-cols-1">
    <div>
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="flex-grow"> {{ _("Your Profile") }} </div>
                    <div class="btn-list">
                        <!-- no button -->
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped m-0 table-sm align-middle">
                        <thead>
                            <th>{{ _("E-Mail") }}</th>
                            <th>{{ _("Admin") }}</th>
                            <th>{{ _("Active") }}</th>
                            <th>{{ _("Language") }}</th>
                            <th>{{ _("Change Password") }}</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{user.email}}</td>
                                <td>{% if user.is_admin %}<i class="fa-solid fa-check fs-4 text-success"></i>{%else%}<i class="fa-solid  fa-x fs-4 text-danger"></i>{% endif %}</td>
                                <td>{% if user.is_active %}<i class="fa-solid fa-check fs-4 text-success"></i>{%else%}<i class="fa-solid  fa-x fs-4 text-danger"></i>{% endif %}</td>
                                <td>
                                    <select id="change_lang" name="change_lang">
                                        {% for lang in languages %}
                                            <option {% if user.lang == lang %}selected{%endif%}>{{ lang }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td data-id="{{ user.id }}" class="change_password"><i class="fa-solid fa-pen-to-square fs-5 text-success clickable"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer pr-0">
                    {{ _("Basic profile data!") }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Will be loaded later -->
        </div>
    </div>
</div>

<script>
    $(document).on("click",".change_password",function(){
        var user_id = $(this).data('id');
        var url = '/account/change_password/'+user_id
        $.ajax({
            url: url,
            type: 'get',
            success: function(data){ 
                $('.modal-content').html(data);
                $('.modal-content').append(data.htmlresponse);
                $('#modal_details').modal('show');

                $('#submit').click(function (event) {
                    event.preventDefault();
                    $.post(url, data = $('#pwform').serialize(), function (data) {
                        if (data.status == 'ok') {
                            $('#Modal').modal('hide');
                            location.reload();
                        } else {
                            var obj = JSON.parse(data);
                            for (var key in obj) {
                                if (obj.hasOwnProperty(key)) {
                                    var value = obj[key];
                                }
                            }
                            $('.alert').remove()
                            $('<div class="alert alert-danger" role="alert">' + value +'</div>').insertAfter('#' + key);
                            $('.form-group').addClass('has-error')
                        }
                    })
                });
            }
        });
    });

    $('#change_lang').change(function(){
        var lang = $(this).val();
        $.ajax({
            url: '/account/change_language/'+lang,
            type: 'get',
            success: function(data) {
                location.reload(true); 
            }
        })
    });
</script>

{% endblock %}