{% extends 'base_print.html' %}

{% block title %}Animal | Print | {{ animal.name }}{% endblock %}

{% block content %}

{% set image = url_for("uploaded_file", folder='animals', filename=animal.image) %}

<div class="d-flex flex-row rounded" style="background-color: #d7d7d7; padding: 5px;">
    <div class="animal-image"><!---->
        <img src="{{ image }}"  style="border-color: {{ animal.background_color }} !important;">
    </div>
    <div class="px-4">
        <div>
            <h2 class="d-inline">{{ animal.name }}</h2>
            <span class="gender text-center ml-3">
                <i class="bi {% if animal.gender == 'female' %} bi-gender-female female {% else %} bi-gender-male male {% endif %} d-none d-sm-inline-block"></i>
            </span>
        </div>
        <div>{{ animal.morph }}</div>
        <div class="text-muted">{{ animal.art }} (*{{ animal.birth }})</div>
    </div>
    <div class="flex-grow-1 text-end align-self-center">
        <img src="{{ url_for('static', filename='images/logo-no-background.svg') }}" alt="Logo" class="print_logo"/>
    </div>
</div>

<div class="mb-2"></div>

<div class="row">
    <div class="col">
        <div class="card" >
            <div class="card-header">
                <div class="flex-grow"> {{ _("Feedings (last 10)") }}</div>
            </div>
            <div class="card-body">
                {% if feedings %}
                <table class="table table-striped m-0">
                    <thead>
                        <th class="w-25">{{ _("Date") }}</th>
                        <th>{{ _("Count") }}</th>
                        <th>{{ _("Type") }}</th>
                        <th>{{ _("Size") }}</th>
                    </thead>
                    <tbody>
                        {% for feeding in feedings %}
                        <tr data-id="{{ feeding.id }}" class="feeding_edit active_row no-select">
                            <td>{{ feeding.date | dateformat }}</td>
                            <td>{{ feeding.count }}</td>
                            <td>{{ feeding.type }}</td>
                            <td>{{ feeding.unit }} {%if feeding.ftunit == "weight" %}{{feeding.detail}}{%endif%}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="mb-0">{{ _("No feedings found!") }}</p>
                {% endif %}
                {% if feeding_size %}
                    <div class="text-muted mt-2 text-center">{{ feeding_size }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" >
            <div class="card">
                <div class="card-header">
                    <div class="flex-grow"> {{ _("Events/Actions (last 10)") }}</div>
                </div>
                <div class="card-body">
                    {% if history %}
                    <table class="table table-striped m-0">
                        <thead>
                            <th>{{ _("Date") }}</th>
                            <th>{{ _("Event") }}</th>
                            <th>{{ _("Details") }}</th>
                        </thead>
                        <tbody>
                            {% for event in history %}
                        <tr data-id="{{ event.id }}" class="history_edit active_row no-select">
                            <td>{{ event.date | dateformat }}</td>
                            <td>{{ event.name }}</td>
                            <td>{{ event.text|linebreaksbr|safe }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p class="mb-0">{{ _("No History found!") }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb-2"></div>

<div class="d-flex flex-row rounded" style="background-color: #d7d7d7; padding: 5px;">
    <div class="card flex-grow-1">
        <div class="card-header">
            <div class="flex-grow"> {{ _("Notes") }} </div>
            <div class="btn-list">
                <!-- no button -->
            </div>
        </div>
        <div class="card-body">
            <p>{{ animal.notes|linebreaksbr|safe }}</p>
        </div>
        <div class="list-group list-group-clickable"><!----></div>
        <div class="card-footer card-footer-clickable text-right pr-0">
            <div style="text-transform: uppercase;">{{ _("Last updated:") }} {{ animal.updated_date | dateformat }} | {{ _("Powered by https://www.personal-zoo.com") }}</div>
        </div>
    </div>
</div>

{% endblock %}