{% extends 'base.html' %}

{% block title %}Personal Zoo | {{ animal.name }}{% endblock %}

{% block head %}
<!-- Datatables -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- custom gender colors -->
<style>
    .female {
        color: {{ settings['color_female'][0] }};
    }
    .male {
        color: {{ settings['color_male'][0] }};
    }
    .ambiguous {
        color: {{ settings['color_other'][0] }};
    }
</style>

{% endblock %}

{% block content %}

{% set image = url_for("uploaded_file", folder='animals', filename=animal.image) %}
<div class="mb-3">
    <a href="/" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> {{ _("Back") }}</a>
</div>
<div class="row mb-4 ">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center align-middle flex-wrap animal-head">
                    <div class="animal-image"><!---->
                        <img class="show_animal_image object-fit-contain" src="{{ image }}" alt="Image for {{ animal.name }}"  style="border-color: {{ animal.background_color }} !important;">
                    </div>
                    <div class="px-4">
                        <div>
                            <h2 class="d-inline">{{ animal.name }}</h2>
                            <span class="gender text-center ml-3">
                                &nbsp;<i class="fa-solid {% if animal.gender == 'female' %} fa-venus female {% elif animal.gender == 'male' %} fa-mars male {% else %}  fa-transgender ambiguous {% endif %} d-sm-inline-block"></i>
                            </span>
                        </div>
                        {% if animal.morph %}<div>{{ animal.morph }}</div>{% endif %}
                        <div class="text-muted">{{ animal.art }}{% if animal.birth %} (*{{ animal.birth }}){% endif %}</div>
                    </div>
                    {% if animal.current_weight != "0" %}
                    <div class="px-4 text-center border-start border-danger user-select-none clickable animal_show_weight">
                        <div class="fs-4">{{ animal.current_weight_value }} <small class="text-muted">{{ animal.current_weight_unit }}</small></div>
                        <div class="text-muted text-lowercase"> {{ _("Current Weight") }} </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="card-footer">
                <div class="btn-list">
                    <button class="btn rounded-right animal_edit_button green_button"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn rounded-right animal_print_button green_button"><i class="fa-solid fa-print"></i></button>
                    <button class="btn rounded-right animal_qr_button green_button"><i class="fa-solid fa-qrcode"></i></button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-lg-2 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <div class="flex-grow"> {{ _("Feedings") }} </div>
                <div class="btn-list">
                    {% if request.user.is_authenticated %}
                    <button class="btn rounded-right feeding_add_button green_button"><i class="fa-solid fa-plus"></i></button>
                    {% endif %}
                </div>
            </div>
            <div class="card-body feeding_card">
                {% if feedings %}
                <div class="feeding_card_table">
                    <table class="table table-striped m-0">
                        <thead>
                            <th class="w-25">{{ _("Date") }}</th>
                            <th>{{ _("Count") }}</th>
                            <th>{{ _("Type") }}</th>
                            <th>{{ _("Size") }}</th>
                        </thead>
                        <tbody>
                            {% for feeding in feedings %}
                            <tr data-id="{{ feeding.id }}" class="feeding_edit active_row user-select-none">
                                <td>{{ feeding.date | dateformat }}</td>
                                <td>{{ feeding.count }}</td>
                                <td>{{ feeding.type }}</td>
                                <td>{{ feeding.unit }} {%if feeding.ftunit == "weight" %}{{feeding.detail}}{%endif%}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    <p class="mb-0">{{ _("No feedings found!") }}</p>
                {% endif %}
                {% if animal.feeding_size %}
                    <div class="text-muted mt-2 text-center">{{ animal.feeding_size }}</div>
                {% endif %}
            </div>
            <div class="card-footer card-footer-clickable text-right pr-0 show_all_feedings">
                <div style="text-transform: uppercase;">{{ _("Show all") }} <i class="fa-solid fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <div class="flex-grow"> {{ _("Events/Actions") }} </div>
                <div class="btn-list">
                    {% if request.user.is_authenticated %}
                    <button class="btn history_add_button green_button"><i class="fa-solid fa-plus"></i></button>
                    {% endif %}
                </div>
            </div>
            <div class="card-body history_card">
                {% if history %}
                <table class="table table-striped m-0">
                    <thead>
                        <th class="w-25">{{ _("Date") }}</th>
                        <th>{{ _("Event") }}</th>
                        <th>{{ _("Details") }}</th>
                    </thead>
                    <tbody>
                        {% for event in history %}
                        <tr data-id="{{ event.id }}" class="history_edit active_row user-select-none">
                            <td>{{ event.date | dateformat }}</td>
                            <td>{{ event.name }}</td>
                            <td>{{ event.text|linebreaksbr|safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="mb-0">{{ _("No History found!") }}</p>
                {% endif %}
            </div>
            <div class="card-footer card-footer-clickable text-right pr-0 show_all_history">
                <div style="text-transform: uppercase;">{{ _("Show all") }} <i class="fa-solid fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <div class="flex-grow"> {{ _("Documents") }} </div>
                <div class="btn-list">
                    {% if request.user.is_authenticated %}
                    <button class="btn document_add_button green_button"><i class="fa-solid fa-plus"></i></button>
                    {% endif %}
                </div>
            </div>
            <div class="card-body document_card">
                {% if documents %}
                <table class="table table-striped m-0">
                    <thead>
                        <th>{{ _("Name") }}</th>
                        <th width="25%">{{ _("Download") }}</th>
                    </thead>
                    <tbody>
                        {% for document in documents %}
                        <tr class="user-select-none">
                            <td data-id="{{ document.id }}" class="active_row document_edit">{{ document.name }}</td>
                            <td><a href="{{ url_for('document.download', id=document.id) }}" target="_blank">{{ _("Download") }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="mb-0">{{ _("No Documents found!") }}</p>
                {% endif %}
            </div>
            <div class="card-footer card-footer-clickable text-right pr-0">
                <div style="text-transform: uppercase;">{{ _("You can only upload pdf and image-files!") }}</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <div class="flex-grow"> {{ _("Notes") }} </div>
                <div class="btn-list">
                    <!-- no button -->
                </div>
            </div>
            <div class="card-body">
                {% if animal.notes %}
                    {{ animal.notes|linebreaksbr|safe }}
                {% else %}
                    <p class="text-muted mb-0">{{ _("No notes.") }}</p>
                {% endif %}
            </div>
            <div class="card-footer text-right pr-0">
                <div style="text-transform: uppercase;">{{ _("Last updated:") }} {{ animal.updated_date | dateformat }}</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Will be loaded later -->
        </div>
    </div>
</div>

<script type="text/javascript" >
    $(document).ready(function(){
        $('.show_animal_image').click(function(){
            $('.modal-content').html('<div class="modal-body"><img src="{{ image }}" class="rounded img-fluid mx-auto"></div>')
            $('#modal_details').modal('show');
        });
        $('.show_all_history').click(function(){
            var less = "{{ _("less") }}";
            if ($(this).html().includes(less)) {
                url = '/history/get_all/{{ animal.id }}?less=1'
                $('.show_all_history').html('<div style="text-transform: uppercase;">{{ _("Show all") }} <i class="fa-solid fa-chevron-right"></i></div>');
            } else {
                url = '/history/get_all/{{ animal.id }}'
                $('.show_all_history').html('<div style="text-transform: uppercase;"> <i class="fa-solid fa-chevron-left"></i> {{ _("Show less") }}</div>');
            }
            $.ajax({
                url: url,
                type: 'get',
                success: function(data){
                    $('.history_card').html(data);
                }
            })
        });
        $('.show_all_feedings').click(function(){
            var less = "{{ _("less") }}";
            if ($(this).html().includes(less)) {
                url = '/feeding/get_all/{{ animal.id }}?less=1'
                $('.show_all_feedings').html('<div style="text-transform: uppercase;">{{ _("Show all") }} <i class="fa-solid fa-chevron-right"></i></div>');
            } else {
                url = '/feeding/get_all/{{ animal.id }}'
                $('.show_all_feedings').html('<div style="text-transform: uppercase;"> <i class="fa-solid fa-chevron-left"></i> {{ _("Show less") }}</div>');
            }
            $.ajax({
                url: url,
                type: 'get',
                success: function(data){
                    $('.feeding_card_table').html(data);
                }
            })
        });
    });
    $('.animal_show_weight').on('click',function(){
        $('.modal-content').load('/animal/get_weight/{{ animal.id }}',function(){
            $('#modal_details').modal('show');
        });
    });
    {% if request.user.is_authenticated %}
    $(document).on("click",".feeding_edit",function(){
        var feed_id = $(this).data('id');
        $.ajax({
            url: '/feeding/edit/'+feed_id,
            type: 'get',
            success: function(data){
                $('.modal-content').html(data);
                $('.modal-content').append(data.htmlresponse);
                $('#modal_details').modal('show');
                $('.feeding_delete_button').click(function(){
                    var feed_id = $(this).data('id');
                    confirmAction("Are You Sure ?", function() {
                        $.ajax({
                                url: '/feeding/delete/'+feed_id+'/',
                                type: 'post',
                                data: {},
                                success: function(data) {
                                    location.reload(true);
                                }
                            });
                    });
                });
            }
        });
    });
    $(document).on("click",".history_edit",function(){
        var feed_id = $(this).data('id');
        $.ajax({
            url: '/history/edit/'+feed_id,
            type: 'get',
            success: function(data){
                $('.modal-content').html(data);
                $('.modal-content').append(data.htmlresponse);
                $('#modal_details').modal('show');
                $('.history_delete_button').click(function(){
                    var feed_id = $(this).data('id');
                    confirmAction("Are You Sure ?", function() {
                        $.ajax({
                                url: '/history/delete/'+feed_id+'/',
                                type: 'post',
                                data: {},
                                success: function(data) {
                                    location.reload(true);
                                }
                            });
                    });
                });
            }
        });
    });
    $(document).on("click",".document_edit",function(){
        var feed_id = $(this).data('id');
        $.ajax({
            url: '/document/edit/'+feed_id,
            type: 'get',
            success: function(data){
                $('.modal-content').html(data);
                $('.modal-content').append(data.htmlresponse);
                $('#modal_details').modal('show');
                $('.document_delete_button').click(function(){
                    var feed_id = $(this).data('id');
                    confirmAction("Are You Sure ?", function() {
                        $.ajax({
                                url: '/document/delete/'+feed_id+'/',
                                type: 'post',
                                data: {},
                                success: function(data) {
                                    location.reload(true);
                                }
                            });
                    });
                });
            }
        });
    });
    $('.feeding_add_button').on('click',function(){
        $('.modal-content').load('/feeding/add/{{ animal.id }}',function(){
            $('#modal_details').modal('show');
        });
    });
    $('.history_add_button').on('click',function(){
        $('.modal-content').load('/history/add/{{ animal.id }}',function(){
            $('#modal_details').modal('show');
        });
    });
    $('.animal_qr_button').on('click',function(){
        $('.modal-content').load('/feeding/get_qr/{{ animal.id }}',function(){
            $('#modal_details').modal('show');
        });
    })
    $('.document_add_button').on('click',function(){
        $('.modal-content').load('/document/add/animal/{{ animal.id }}',function(){
            $('#modal_details').modal('show');
        });
    });
    $('.animal_print_button').on('click',function(){
        window.open('/animal/{{ animal.id }}?print=1', '_blank');
    });
    $('.animal_edit_button').on('click',function(){
        $('.modal-content').load('/animal/edit/{{ animal.id }}',function(){
            $('#modal_details').modal('show');
            $('.animal_delete_button').click(function(){
                                var animal_id = $(this).data('id');
                                confirmAction("Are You Sure ?", function() {
                                    $.ajax({
                                            url: '/animal/delete/'+animal_id+'/',
                                            type: 'post',
                                            data: {animal_id: {{ animal.id }}},
                                            success: function(data) {
                                                window.location.replace("/");
                                            }
                                        });
                                });
                            });
        });
    });
    {% endif %}
</script>

{% endblock %}
