{% from "macros/fields.html" import render_text_field, render_select_field, render_selectpicker_field, render_clear_text_field, render_textarea_field %}

{% extends 'base.html' %}

{% block title %}Add{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>{{ _("Add a new animal") }}</h3>
    </div>
    <form role="form" id="form" method="post" action="{{ target }}" enctype="multipart/form-data">
        {{ csrf_input }}
        <div class="card-body">
            {{ render_text_field(form.name) }}
            <div class="row">
                <div class="col">
                    {{ render_select_field(form.art) }}
                </div>
                <div class="col">
                    {{ render_text_field(form.morph) }}
                </div>
            </div>
            <div class="row">
                <div class="col"> 
                    {{ render_select_field(form.gender) }}   
                </div>
                <div class="col">
                    {{ render_text_field(form.birth) }}
                </div>
            </div>
            {{ render_textarea_field(form.notes) }} 
            <div class="row">
                <div class="col">
                    {{ render_clear_text_field(form.image) }}
                </div>
                <div class="col">
                    {{ render_clear_text_field(form.background_color) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ render_select_field(form.default_ft) }} 
                </div>
                <div class="col">
                    {{ render_select_field(form.terrarium) }} 
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
        </div>
    </form>
</div>
{% endblock %}
