{% from "macros/fields.html" import render_text_field, render_select_field, render_selectpicker_field, render_clear_text_field, render_textarea_field %}
    <form role="form" method="post" action="{{ target }}" enctype="multipart/form-data">
        {{ csrf_input }}
        <div class="card">
            <div class="card-header">
                <h3>{{ _("Edit") }} {{animal.name}}</h3>
            </div>
            <div class="card-body">
                {{ render_text_field(form.name) }}
                <div class="row">
                    <div class="col">
                        {{ render_select_field(form.art) }}
                    </div>
                    <div class="col">
                        {{ render_text_field(form.morph) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col"> 
                        {{ render_select_field(form.gender) }}   
                    </div>
                    <div class="col">
                        {{ render_text_field(form.birth) }}
                    </div>
                </div>
                {{ render_textarea_field(form.notes) }} 
                <div class="row">
                    <div class="col">
                        {{ render_clear_text_field(form.image) }}
                    </div>
                    <div class="col">
                        {{ render_clear_text_field(form.background_color) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ render_select_field(form.default_ft) }} 
                    </div>
                    <div class="col">
                        {{ render_select_field(form.terrarium) }} 
                    </div>
                </div>  
            </div>
        </div>
        <div class="modal-footer">
            <div pos="start">
            <button type="button" data-id="{{ animal.id }}" class="btn btn-danger text-left animal_delete_button">{{ _("Delete") }}</button>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
            <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
        </div>
    </form>
</div>