<div class="modal-header">
    <h5 class="modal-title" id="itemLabel">{{ _("Weight Chart") }}</h5>
</div>

<div class="modal-body" id="modal-body">
    <canvas id="weightChart" width="200" height="200"></canvas>
</div>

<div class="modal-footer text-end">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Close") }}</button>
</div>

<script>
    var ctx = document.getElementById('weightChart').getContext('2d');
    Chart.defaults.font.family = "PersonalZoo";
    Chart.defaults.font.size = 14;
    Chart.defaults.font.weight = "normal";
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'Weight',
                data: [
                    {% for weight in weight_list %}
                        {x: '{{ weight.date|dateformat }}', y: '{{ weight.weight }}'},
                    {% endfor %}
                ],
                borderColor: ['teal']
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    ticks: {
                        beginAtZero: true
                    },
                    title: {
                        display: true,
                        text: "Date",
                        padding: {
                            top: 10
                        },
                        font: {
                            weight: "bold"
                        }
                    }
                },
                y: {
                    ticks: {
                        beginAtZero: true
                    },
                    title: {
                        display: true,
                        text: "Weight ({{ weight_unit }})",
                        font: {
                            weight: "bold"
                        }
                    }
                }
            },
            elements: {
                line: {
                    borderWidth: 3,
                    fill: "true"
                },
                point: {
                    radius: 5,
                    backgroundColor: "teal"
                }
            }
        }
    });
</script>