<!-- Default field -->
{% macro render_text_field(field) %}
    <div class="mb-3">
        {{ field.label }}
        {{ field(class="form-control", placeholder='') }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger mt-1" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

<!-- Textarea -->
{% macro render_textarea_field(field) %}
    <div class="mb-3">
        {{ field.label }}
        {{ field(rows="5", class="form-control", style="height: 100px", placeholder='') }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger mt-1" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

<!-- Field without float -->
{% macro render_clear_text_field(field) %}
    <div class="mb-3">
        {{ field.label }}
        {{ field(class="form-control", placeholder='') }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger mt-1" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

<!-- Select field -->
{% macro render_select_field(field) %}
    <div class="mb-3">
        {{ field.label }}
        {{ field(class="form-control form-select") }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger mt-1" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

<!-- Selectpicker -->
{% macro render_selectpicker_field(field) %}
    <div class="mb-3">
        {{ field.label }}
        {{ field(class="selectpicker form-control") }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger mt-1" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}
