{% from "macros/fields.html" import render_text_field, render_select_field, render_selectpicker_field, render_clear_text_field %}

<div class="modal-header">
    <h5 class="modal-title" id="itemLabel">{{ _("Edit equipment") }}</h5>
</div>
<form action="{{ url_for('terrarium.equipment_edit', id=data.id) }}" method="post" enctype="multipart/form-data">
    {{ csrf_input }}
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col">
                {{ render_text_field(form.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ render_text_field(form.text) }}
            </div>
        </div>    
    </div>
    <input type="hidden" id="terrarium_id" name="terrarium_id" value="{{ data.terrarium }}" />
    <div class="modal-footer">
        <div pos="start">
            <button type="button" data-id="{{ data.id }}" class="btn btn-danger text-left equipment_delete_button">{{ _("Delete") }}</button>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
            <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
        </div>
    </div>
</form>