{% from "macros/fields.html" import render_text_field, render_select_field, render_selectpicker_field, render_clear_text_field, render_textarea_field %}

{% extends 'base.html' %}

{% block title %}Add{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>{{ _("Add new Terrarium") }}</h3>
    </div>
    <form role="form" method="post" action="{{ url_for('terrarium.add') }}" enctype="multipart/form-data">
        {{ csrf_input }}
        <div class="card-body">
            {{ render_text_field(form.name) }}
            <div class="row">
                <div class="col">
                    {{ render_select_field(form.type) }}
                </div>
                <div class="col">
                    {{ render_text_field(form.size) }}
                </div>
            </div>
            {{ render_textarea_field(form.notes) }}  
            <div class="row">
                <div class="col">
                    {{ render_clear_text_field(form.image) }}
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
        </div>
    </form>
</div>
{% endblock %}
