{% extends 'base.html' %}

{% block title %}Personal Zoo | Maintainance {% endblock %}

{% block content %}
<div class="row row-cols-1">
    <div class="col mb-3">
        <div class="bg-warning p-3 fw-bold rounded text-dark">Please use this page only if you know what you are doing!</div>
    </div>
</div>
<div class="row row-cols-lg-2 row-cols-sm-1">
    <div>
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="flex-grow"> Database changes </div>
                    <div class="btn-list">
                        <!-- no button -->
                    </div>
                </div>
                <form action="{{ url_for('maintenance.do_sql') }}" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <label for="sqlquery" class="form-label">SQL Query</label>
                        <input type="text" class="form-control" name="sqlquery" id="sqlquery" />

                        <div class="mt-2">
                            <strong>Examples:</strong>
                            <ul>
                                <li><code>UPDATE feeding SET unit='medium' WHERE unit LIKE 'middle%'</code></li>
                                <li><code>UPDATE feeding SET type='6' WHERE type='5'</code></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer text-end pr-0">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="flex-grow"> Tasks </div>
                    <div class="btn-list">
                        <!-- no button -->
                    </div>
                </div>
                <div class="card-body">
                    <table class="table align-middle">
                        <tr>
                            <td>Delete old images</td>
                            <td class="text-start"><button type="button" class="btn btn-danger image_cleanup" id="image_cleanup" name="image_cleanup">Cleanup images</button></td>
                        </tr>
                        <tr>
                            <td>Reset to default colors</td>
                            <td class="text-start"><button type="button" class="btn btn-danger color_reset" id="color_reset" name="color_reset">Color reset</button></td>
                        </tr>
                    </table>                  
                </div>
                <div class="card-footer text-start">
                    Be careful using the button above!
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.image_cleanup').click(function(){
        window.location.replace("/maintenance/tasks/cleanup_images");
    });
    $('.color_reset').click(function(){
        window.location.replace("/maintenance/tasks/color_reset");
    });
</script>
{% endblock %}