{% set ns = namespace(error=false) %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Include Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- MomentJS -->
    <script src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>

    <!-- ColorMode -->
    <script src="{{ url_for('static', filename='js/color_mode.js') }}"></script>

    <!-- CSRF token for all jQuery AJAX requests -->
    <script>
        $.ajaxSetup({
            headers: {'X-CSRFToken': '{{ csrf_token }}'}
        });
    </script>

    <!-- mobile render fix -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add something if needed -->
    {% block head %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
    {% include "navigation.html" %}

    <!-- spacer for nav -->
    <div class="no-print" style="margin-top: 50px;"></div>

    {% set django_messages = get_messages(request) %}
    {% if django_messages %}
        <div class="container mt-5 fade show" id="flash-message">
            {% for message in django_messages %}
                {% set category = message.tags if message.tags else 'info' %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message | string | linebreaksbr | safe }}
                </div>
                {% if category == "danger" %}
                    {% set ns.error = true %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        <p>&nbsp;</p>
        {% block content %}{% endblock %}
    </div>

    <!-- spacer for nav -->
    <div class="no-print" style="margin-top: 10px;"></div>

    <footer class="footer mt-auto text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3">
            © {{ now().year }} Copyright:
            <a target="_blank" href="https://personal-zoo.com/">personal-zoo.com</a>
        </div>
        <!-- Copyright -->
    </footer>

    {% if not ns.error %}
        <script>
            // Add fade-out animation to flash message
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                setTimeout(function() {
                    flashMessage.addEventListener('animationend', function() {
                        flashMessage.remove();
                    });
                    flashMessage.classList.add('fade-out');
                }, 5000); // Fade out after 5 seconds
            }
        </script>
    {% endif %}
</body>
</html>
